.guile { position: absolute; bottom: 112px; margin-left: 280px; width: 70px; height: 90px; background-image: url(../images/guile.png); }

/* stance */
.stance2 { -webkit-animation: stance2 steps(3) 0.5s infinite; -moz-animation: stance2 steps(3) 0.5s infinite; -ms-animation: stance2 steps(3) 0.5s infinite; animation: stance2 steps(3) 0.5s infinite; }

@-webkit-keyframes stance2 { from { background-position: 0px 0px; }
  to { background-position: -210px 0px; } }

@-moz-keyframes stance2 { from { background-position: 0px 0px; }
  to { background-position: -210px 0px; } }

@-ms-keyframes stance2 { from { background-position: 0px 0px; }
  to { background-position: -210px 0px; } }

@keyframes stance2 { from { background-position: 0px 0px; }
  to { background-position: -210px 0px; } }

/* hit1 */
.hit1 { background-image: url(../images/guile-hit.png); -webkit-animation: hit1 steps(1) 0.5s infinite; -moz-animation: hit1 steps(1) 0.5s infinite; -ms-animation: hit1 steps(1) 0.5s infinite; animation: hit1 steps(1) 0.5s infinite; }

@-webkit-keyframes hit1 { from { background-position: 0px 0px; }
  to { background-position: -70px 0px; } }

@-moz-keyframes hit1 { from { background-position: 0px 0px; }
  to { background-position: -70px 0px; } }

@-ms-keyframes hit1 { from { background-position: 0px 0px; }
  to { background-position: -70px 0px; } }

@keyframes hit1 { from { background-position: 0px 0px; }
  to { background-position: -70px 0px; } }